{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->

    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/Gtbit-img.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Pro Insights</h1>
              <span class="subheading">Tips and Tricks to crack companies.</span>
            </div>
          </div>
        </div>
      </div>
      <style>
        .main{
position: relative;
background: #fff;
}
.main-raised{
margin: -100px 30px 0;
border-radius: 6px 6px 0 0;
/* -webkit-box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%); */
box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
      </style>
    </header>

    <!-- Main Content -->
    <div class="main main-raised" style="display: block;">
      <br>
    <div class="container" style="padding-top: 3%;">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
          <a href="https://www.geeksforgeeks.org/amazon-interview-set-53-sde-1/" target="_blank"><h1>Amazon Interview Experience</h1></a>
          </div>
          <p>ABC of our college speaks up on how he cracked Amazon and got a job offer for SDE-1 @Amazon </p>
        </div>
      </div>
      </div>

    <div class="container" style="padding-top: 3%;">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <a href="https://www.geeksforgeeks.org/tag/adobe/" target="_blank"><h1>Adobe Interview Experience</h1></a>
            </div>
          <p>See how XYZ of our college got a job offer of 39 LPA from Adobe </p>
          </div>
        </div>
        </div>

        <div class="container" style="padding-top: 3%;">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <a href="https://www.geeksforgeeks.org/hashedin-interview-experience-on-campus-2021-2/" target="_blank"><h1>HashedIn Interview Experience</h1></a>
                </div>
              <p>See how XYZ of our college got a job offer of 39 LPA from HashedIn </p>
              </div>
            </div>
            </div>


            <div class="container" style="padding-top: 3%;">
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  <div class="post-heading">
                    <a href="https://www.geeksforgeeks.org/to-the-new-interview-experience-for-mean-trainee-on-campus/" target="_blank"><h1>To The New Interview Experience</h1></a>
                    </div>
                  <p>See how XYZ of our college got a job offer of 5 LPA from To The New </p>
                  </div>
                </div>
                </div>

                <div class="container" style="padding-top: 3%;">
                  <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                      <div class="post-heading">
                        <a href="https://www.geeksforgeeks.org/compro-technologies-interview-experience/" target="_blank"><h1>Compro Technologies Interview Experience</h1></a>
                        </div>
                      <p>See how XYZ of our college got a job offer of 39 LPA from Compro Technologies </p>
                      </div>
                    </div>
                    </div>

   {% endblock %}
  </div>