<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Review</th>
      <th>Liked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>The job offered great learning and growth opportunities with tight deadlines.I learned Time management and people management. The co-workers were very supportive.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>This company was very busy and interesting to work for.The owner/ boss was hard working but very friendly.We were busy always, so we weren't bored.The hours were great.All the employees were like friends.The customers thought very well of us.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>We got vacation and personal days as soon as we started.The salary was very good in the area the company was in.Having the company close down the owners are still very positive people and quite a few of us stay in touch.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>company has flexible work hours and there are no problems in asking for holidays. management is good.Infrastructure is very poor. There not much to learn.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Compro, as we referred to it, was a very family, friendly run business. As the Assistant to the President, I was in charge of quite a bit.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>There was a lot of clerical duties, due to the industry and the work got done when it was due or even before.Everyone there helped each other out.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>It was like a family. I did learn a lot from working there, technically and socially. A WONDERFUL place to work. Wonderful owners and staff</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Excellent place for a fresher. Flat structure. Talents are easily recognised. Informal yet effective training methodology. Great remuneration.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Small organisation. Not for the career minded. Long working hours</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Infrastructure: missing some basic employee perks that go unsaid almost everywhere.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Management: not functioning as a hierarchy. Also, some decisions are personal rather than professional, which is quite concerning.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Learning curve saturates early, so it's suggested to leave then as career growth might be impacted.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12</th>
      <td>flat organization. not much to aspire for. infra needs to improve</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>13</th>
      <td>learning curve, latest technology stack, constant learning, responsibilities assigned to individuals, good increments and bonus</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>14</th>
      <td>does not have the infra of a regular IT firm, At times unnecessary pressure due to unforeseen deadlines</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Ambitious mission, great colleagues, supportive atmosphere.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Good opportunities for different technical experiences, good work-life balance, good compensation, great coworkers</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Great pay, good food, fun employees</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Great place to work, learn new things, grow and innovate. Able to maintain a respectful and healthy workplace culture despite the recent press.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Google is one of the beast Company in the world</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Nice perks. Good work life balance</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Good work and life balance</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Better than average engineers. Competitive compensation.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Great place to work, free food, and great culture.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Flexible timings, surrounded by technical experts and platform to grow and new ideas</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25</th>
      <td>So many brilliant people Tons of resources Working on amazingly cool technologies Great culture - they really care about employees, actively ask for feedback, and act on it (e.g. Set corporate OKR's to improve on problem issues)</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26</th>
      <td>is very good. is very very good</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Great place to work, learn new things, grow and innovate. Able to maintain a respectful and healthy workplace culture despite the recent press.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Google is one of the beast Company in the world</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Nice perks. Good work life balance</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Good work and life balance</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Better than average engineers. Competitive compensation.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Google’s perks are great: free food, shuttle to work, stock options, fun offices and amenities. The company is also full of really smart people that I’m constantly learning from.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>33</th>
      <td>The best company I've worked for. Culture, perks, the way people are treated. Very thankful for this experience.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Easy place and people are nice</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Amazing compensation + benefits (hard to beat in Seattle), office space is cozy. Lots of autonomy. Taking initiative on important things is heavily rewarded.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Never have to skip a paycheck.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Ambitious mission, great colleagues, supportive atmosphere.</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Good opportunities for different technical experiences, good work-life balance, good compensation, great coworkers</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Great pay, good food, fun employees</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>